---
Checks: "*,
        -abseil-*,
        -altera-*,
        -android-*,
        -boost-*,
        -fuchsia-*,
        -google-*,
        -llvm*,
        -modernize-use-trailing-return-type,
        -zircon-*,
        -readability-avoid-const-params-in-decls,
        -readability-else-after-return,
        -readability-redundant-access-specifiers,
        -readability-static-accessed-through-instance,
        -cppcoreguidelines-non-private-member-variables-in-classes,
        -misc-non-private-member-variables-in-classes,

"
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle:     none





